<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ site.highlightjs_version }}/styles/{{ site.highlightjs_theme }}.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ site.highlightjs_version }}/highlight.min.js"></script>
<title>{{ page.title | default: site.title }}</title>
{% seo %}
{% if site.plainwhite.dark_mode %}
<script type="text/javascript" src="{{ "/assets/js/darkmode.js" | relative_url }}"></script>
<script type="text/javascript">hljs.highlightAll();</script>
{% endif %}

<!--
https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js
//-->