.code-header {
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.code-container {
  margin-bottom: 16px;
}

.code-content {
  display: none;
  border: 1px solid #e1e4e8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}